.main .banner-wrap {
  background-color: #00bcd4;
}

.main .banner {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  color: #fff;
  padding: 50px 0;
}

.main .banner .hero-text {
  width: 400px
}

.main .banner h3 {
  padding: 30px 0;
  font-size: 36px;
}

.main .banner p {
  padding-bottom: 100px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.main .banner img {
}

.main .web {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #fff;
}

.main .info {
  width: 400px
}

.main .info h5 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 36px;
}

.main .info p {
  font-size: 18px;
  color: #291B1B;
}

.main .app-wrap {
  background-color: #00bcd4;
}

.main .app {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
}

.main .app-info {
  color: #fff;
}

.main .app-info p {
  color: rgba(255, 255, 255, 0.8);
}

.main .icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 200px;
  font-size: 46px;
  color: #7ED321;
}

.main .wechat {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
}

.main .wechat-info {
  padding-top: 100px;
}

.line {
  height: 100px;
  background-color: #00bcd4;
}

.we-works {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.we-works h5 {
  font-size: 36px;
  text-align: center;
  padding: 100px 0;
}

.we-works .works {
  display: flex;
  justify-content: space-around;
}

.we-works .works .card {
  position: relative;
}

.we-works .works .card img {
  width: 300px;
  display: block;
}


.backdrop {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  text-align: center;
  font-size: 24px;
  align-items: center;
  transition: all 0.5s;
  transform: rotateX(90deg);
}

.we-works .works .card:hover .backdrop{
  transform: rotateX(0deg);
  background: rgba(0, 188, 212, 0.84);
}

.backdrop span {
  margin: 0 auto;
}


@media (max-width: 950px) {
  .we-works .works {
    flex-direction: column;
  }

  .we-works .works .card ,.we-works .works .card img {
    width: 90vw;
    margin: 0 auto;
  }

  .we-works .works .card {
    margin-bottom: 50px;
  }

  .main .wechat {
    flex-direction: column;
  }

  .main .wechat img {
    width: 50vw;
    margin: 0 auto;
  }

  .main .wechat-info {
    width: 90vw;
    margin: 0 auto;
  }

  .main .app {
    flex-direction: column;
  }

  .main .app .info {
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
  }

  .main .app .icon {
    margin: 0 auto;
    order:  -1;
  }

  .main .web {
    position: relative;
    flex-direction: column;
    z-index: 100;
  }

  .main .web img {
    width: 50vw;
    margin: 0 auto;
  }

  .main .web .info {
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
  }

  .main .banner {
    position: relative;
    flex-direction: column;
    padding: 0;
  }

  .main .banner .hero-text{
    width: 90vw;
    margin: 0 auto;
  }

  .main .banner h3 {
    text-align: center;
  }

  .main .banner p {
    display: block;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 200px;
  }

  .main .banner img {
    position: absolute;
    top: 200px;
    left: calc(50% - 201px);
  }
}

@media (max-width: 450px) {
  .we-works {
    padding: 0px
  }

  .we-works h5 {
    padding: 30px 0;
    font-size: 24px;
  }

  .main .wechat {
    padding: 30px 0;
  }

  .main .wechat-info {
    padding-top: 30px;
  }

  .main .wechat-info h5 {
    padding-bottom: 16px;
    font-size: 24px;
  }

  .main .wechat-info p {
    font-size: 14px;
  }

  .main .app {
    padding: 30px 0;
  }

  .main .app .info {
    margin-top: 30px;
  }

  .main .app .info h5 {
    padding-bottom: 16px;
    font-size: 24px
  }

  .main .app .info p {
    font-size: 14px;
  }

  .main .web {
    padding: 30px 0;
  }

  .main .web h5 {
    padding-bottom: 16px;
    font-size: 24px;
  }

  .main .web p {
    font-size: 14px;
  }

  .main .banner img {
    width: 300px;
    left: calc(50% - 150px);
    top: 250px
  }
}

@media (max-width: 375px) {
  .main .banner img {
    top: 250px
  }
}

@media (max-width: 320px) {
  .main .banner img {
    top: 300px
  }
}
