.main .banner-wrap {
  background-color: #00bcd4;
}

.main .banner {
  max-width: 1024px;
  margin: 0 auto;
  color: #fff;
}

.main .banner h3 {
  padding: 60px 0;
  font-size: 36px;
}

.main .banner p {
  padding-bottom: 100px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.main .web {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
}

.main .info {
  width: 400px
}

.main .info h5 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 36px;
}

.main .info p {
  font-size: 18px;
  color: #291B1B;
}

.main .app-wrap {
  background-color: #00bcd4;
}

.main .app {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
}

.main .app-info {
  color: #fff;
}

.main .app-info p {
  color: rgba(255, 255, 255, 0.8);
}

.main .icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 200px;
  font-size: 46px;
  color: #7ED321;
}

.main .wechat {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px;
}

.main .wechat-info {
  padding-top: 100px;
}

.line {
  height: 100px;
  background-color: #00bcd4;
}

.we-works {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.we-works h5 {
  font-size: 36px;
  text-align: center;
  padding: 100px 0;
}

.we-works .works {
  display: flex;
  justify-content: space-between;
}

.we-works .works .card {
  position: relative;
}


.backdrop {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  text-align: center;
  font-size: 24px;
  align-items: center;
  transition: all 0.5s;
  transform: rotateX(90deg);
}

.we-works .works .card:hover .backdrop{
  transform: rotateX(0deg);
  background: rgba(0, 188, 212, 0.84);
}

.backdrop span {
  margin: 0 auto;
}
